<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946892951813-rm3p1fdhmkl6rn9bf5o0bglf39vcdvmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946892951813-rm3p1fdhmkl6rn9bf5o0bglf39vcdvmm</string>
	<key>API_KEY</key>
	<string>AIzaSyBL5mSBjBhOFpN4CRaljAf6OnK0s7NciAk</string>
	<key>GCM_SENDER_ID</key>
	<string>946892951813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.hsfulda.flutterAppQuiz</string>
	<key>PROJECT_ID</key>
	<string>quiz-database-38c32</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-database-38c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946892951813:ios:89d27f5d0de9d288aca76c</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-database-38c32.firebaseio.com</string>
</dict>
</plist>